body{
  margin: 0px;
  height: 100vh;
}

.topheader{
    margin: 0px;
    padding: 0px;
    background-color: #272727;
    color: aliceblue;
}
.secondheader{
    border: solid;
    border-color: rgb(169, 169, 169);
    border-width: 1px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.parent-inline-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#child2{
    width: 80%;
}
#child3{
    width: 40%;
}
#child4{
    width: 40%;
}

h3 {
    margin: 1.5rem 0 .25em;
    clear: both;
  }
  .parent {
    background: rgb(255, 255, 255);
    padding: 1rem
  }
  .child {
    padding: 1rem
  }

.main-inline-flex{
  display: flex;
  justify-content: center;
  height: 100%;
  flex-grow: 1;
}
.grid-parent {
  display: grid;
  grid-template-columns: 1fr 1fr
}
.aside{
  width: 300px;
}
.Examples{
  margin-left: 40px;
}

.stuff{
  height: 100%;
  width: 90%;
  border-left: solid;
  padding: 10px;
  border-color: rgb(169, 169, 169);
  border-width: 1px;
  background-color:#f5f5f5b6;
}

.folders{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.label_folder{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-content: center;
  color: rgb(75, 75, 75);
}
.folder_icon{
  border-bottom: solid;
  border-color: rgb(169, 169, 169);
  border-width: 1px;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.label_sequence{
  color: rgb(75, 75, 75);
  padding-top: 10px;
}

.sequence_cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(240px, 1fr));
  gap: 5%;
  padding: 10px;
  background-color:#f5f5f5b6;
}
.a_card{
  display: flex;
  flex-direction: column;
  border: solid;
  border-color: darkgrey;
  border-width: 1px;
  width: 300px;
  height: 200px;
  border-radius: 5px;
}
.card_top{
  width: 100%;
  height: 70%;
  border-radius: 5px;
}
.card_bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1%;
}
.card_bottom_left{
  display: flex;
  flex-direction: column;
  padding: 1%;
}
.card_name{
  padding-bottom: 3%;
  font-size: 25px;
}
.card_image{
  width: 100%;
  height: 100%;
}
.card_bottom_right{
  padding-right: 5%;
  padding-top: 3%;
}
.dropdown_button button{
  background-color: #f5f5f5b6;
  border: none;
  cursor: pointer;
}
.dropdown_button a{
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}
.dropdown_button .card_options_button_content{
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 100px;
  box-shadow: 2px 2px 5px #ffffff;
}
.dropdown_button:hover .card_options_button_content{
  display: block;
}
.dropdown_button:hover button{
  background-color: hsla(0, 0%, 75%, 0.714);
}
.dropdown_button a:hover{
  background-color: hsla(0, 0%, 75%, 0.714);
}